/* @import url('https://u746136.com4.ru/css/css.css'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');




/* RESET */

.ml-3, .mx-3 { margin-left: 0 !important; }
.mt-1, .my-1 { margin-top: 0 !important; }
.pt-2, .py-2 {  padding-top: 0 !important; }
.mt-4, .my-4 { margin-top: 0 !important; }

/* /RESET */









/* --------------------------------------------------------   Main elements */
html {
    user-select: auto;
    -webkit-user-select: auto;
}

body {
font-family: "BootsSharp";
font-family: 'Montserrat', sans-serif;
font-weight: 100;
font-size: 16px;
color: #000;
position: relative;

}
.vdd-container {
    position: relative;
    max-width: 1250px;
    margin: 0 auto;
    padding: 1em;
    overflow: unset;
}
.spa-body {
    width: 100% !important;
    overflow: unset;
}

.dx-theme-generic-typography {
    background-color: #fff;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    font-family: "BootsSharp";
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}
.line-top {
    border-top: 1px solid;
    padding-top: 0;
    margin-top: 23px;
    padding: 0 0 15px 0;
}
.dx-theme-border-color {
    border-color: #d4d4d4 !important;
}
.text-nowrap {
    font-weight: bold;
}
.dx-widget {
    color: #333;
    font-weight: 400;
    font-size: 16px;

}
#ttr-container  .text-italic {
    margin-top: 30px !important;
}
.dx-overlay-wrapper {
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1000;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    line-height: 1.35715;
}
.dx-popup-wrapper > .dx-overlay-content {
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 6px;
    max-width: 500px;
}
.dx-popup-bottom.dx-toolbar .dx-toolbar-after {
    column-gap: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}
div > strong {
    font-weight: bolder;
    /* margin: 10px 0 0px 0; */
    padding: 5px 0 0 0;
    display: inline-block;
    /* border-top: 5px solid #e6e6e6; */
}
/* --------------------------------------------------------   /Main elements */
/* Headers */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 !important;
}
.dx-theme-generic-typography .dx-font-s, .dx-theme-generic-typography h4,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "BootsSharp";
    font-family: 'Montserrat', sans-serif;
    font-size: 26px; color: #05054B;
    padding: 15px 0 10px 0;
}

h1 {font-size: 36px;}


.dx-theme-generic-typography h5 + .ml-3  {margin-left: 0 !important;}



p {font-size: 16px; color: #000;}


/* links */
.dx-theme-generic-typography a,
a {
    color:#0092cc;
    color: #00a4e6;
    font-size: 18px;
    text-decoration: underline;
}


/* Buttons */


/* Button Primary */
.dx-button-mode-contained.dx-button-success,
.dx-button-mode-contained.dx-button-default {
    background-color: #0092CC;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

/* Button Secondary */

div.dx-button-mode-contained,
a.dx-button-mode-contained {
    background-color: #fff;
    border-color: #0092CC;
    color: #0092CC;
    text-transform: uppercase;
    /* .. */
    background-color: #0092CC;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border-radius: 100px;
    /* min-width: 60px; */
    font-size: 14px;
}
.dx-button-mode-contained .dx-icon {
    color: #fff;
}



div.dx-button-mode-contained,
a.dx-button-mode-contained:hover {
    background-color: #00a4e6;
    border-color: #0092CC;
 
}

.dx-button-mode-contained.dx-state-hover {
    background-color: #00a4e6;
    border-color: #0092CC;
}

.dx-button-mode-contained.dx-button-success.dx-state-hover {
    background-color: #007fb1;
    border-color: transparent;
  }
  .dx-button-mode-contained.dx-button-success.dx-state-focused {
    background-color: #007fb1;
    border-color: transparent;
  }
  .dx-button-mode-contained.dx-button-success.dx-state-active {
    background-color: #007fb1;
    border-color: transparent;
    color: #fff;
  }

  .dx-button-mode-contained.dx-dropdowneditor-button {min-width: auto;}





/* Header */
a.silent-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    border: 2px solid #ffffff;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    /* box-shadow: 0 0 3px 0px black; */
}
.vdd-container {
    position: relative;
    max-width: 764px;
    margin: 0 auto;
    padding: 1em;
    overflow: unset;
}
div#mainMenu {
    background: transparent;
}
header > nav {
    padding: 10px 0;
    border-bottom: 1px solid;
    overflow: hidden;
    background: rgb(90 177 212 / 5%);
}
header.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(189 189 189 / 24%);
}
.dx-dropdownmenu.dx-dropdownmenu-button.dx-button.dx-button-normal.dx-widget.dx-button-has-icon.dx-button-mode-text {
    background: rgb(226 226 226 / 58%);
    color: #fff;
    border-radius: 50px;
    margin: -10px 0 0;
    padding: 11px;
}

.dx-toolbar .dx-toolbar-label {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 100;
}
.dx-toolbar-menu-section .dx-toolbar-menu-custom .dx-item-content a {
    display: block !important;
    text-align: left;
    text-decoration: none;
}

/* PAGE TEST COVID-19 */

/* h1 */
.identity-form .mb-4 p:first-child strong {font-size: 36px;}


/* hx */
.identity-form .mb-4 p:nth-child(3) strong,
.identity-form .mb-4 p:nth-child(6) strong {font-size: 26px;}




.ElementsApp input {
    background-color: transparent;
    border: none;
    display: block;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 3.2em;
    height: 1.2em;
}
.d-flex.flex-row.mt-2.vdd-hide-invalid-badge {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
/*  ----------------------------------------------------    Forms */
.dx-field-item-required-mark {
    color: #ff0600;
    font-size: 22px;
}


.dx-texteditor.dx-editor-outlined  {
    background: #fbfbfb;
    border: 1px solid #00a4e6;
    border-radius: 100px;
    height: 41px;
   
}

.vdd-uploader-container .vdd-uploader-drop-area {
    height: 100px;
    background: #e2e2e2;
    border-radius: 25px;
    margin: 44px 0 0 0;
}

#card-number, #card-date, #card-code, #card-postal
 {
    background: #fbfbfb;
    border: 1px solid #00a4e6;
    border-radius: 100px;
    height: 41px;
    padding: 12px 12px 12px !important;
}
 #card-postal
 {
    
    padding: 0 !important;
}
#card-postal .dx-texteditor-input {

    font-size: 16px;
}



.dx-radiobutton-icon::before {
    border: 1px solid #00a4e6;
    background-color: #fff;
    content: "";
}
.dx-checkbox-icon {
    border: 1px solid #00a4e6;
}
.dx-device-phone .identity-form {
    /* margin: 20px auto; */
    max-width: 450px;
    padding: 15px;
    /* box-shadow: 0px 0px 20px 0px #dadada; */
    border-radius: 20px;
}
.dx-invalid.dx-texteditor {
    border-color: #f00;
}
.dx-invalid-message > .dx-overlay-content {
    color: #f00;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #f00;
    left: 0 !important;
    right: 0;
    top: -2px !important;
    font-size: 13px;
    padding: 3px;
    text-align: center;
    margin: 0 15px 0 15px !important;
    transform: translate(0px, 43px) !important;
}
.dx-checkbox-container + .dx-invalid-message > .dx-overlay-content { min-width: 100px;}
.dx-checkbox-container + .dx-invalid-message  .dx-invalid-message-content { right: auto;}


.dx-placeholder {
    position: absolute;
    top: 0;
    left: 12px;
    max-width: 100%;
    width: auto;
    height: 100%;
    text-align: left;
    cursor: text;
    pointer-events: none;
    color: #999;
}
.dx-invalid .dx-checkbox-container .dx-checkbox-icon {
    border: 1px solid #f00;
}

.dx-texteditor-input {
    margin: 0;
    padding: 10px 22px 11px;
    /* background: hsl(0deg 100% 47%); */
    color: #333;
    font-size: 16px;
    border-radius: 100px;
    min-height: 34px;
    font-family: "BootsSharp";
    font-family: 'Montserrat', sans-serif;
}

.dx-widget input, .dx-widget textarea {
    font-family: "BootsSharp";
    font-family: 'Montserrat', sans-serif;
    line-height: 1.35715;
}

.dx-field-item-label-location-top {
    display: block;
    padding: 0 0 6px 0;
}
.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
  border-radius:0 50px 50px 0;
  /* color: #fff; */
}
.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
  /* color: #fff; */
  opacity: 1;
  border-radius:0 50px 50px 0;
}
.dx-dropdowneditor-icon {
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    color: #02709c;
    font: 18px/18px DXIcons;
    width: 32px;
    height: 100%;
    text-align: center;
    border-radius: 3px;
}
.dx-dropdowneditor-icon::before {
    content: "ï€";
    position: absolute;
    display: block;
    width: 18px;
    top: 50%;
    margin-top: -7px;
    left: 44%;
    margin-left: -12px;
    font-size: 27px;
}
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
    padding: 7px 9px;
    font-size: 16px;
}


.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
    background-color: rgb(199 238 255);
    color: #333;
  }


  form#form {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

form#form + .line-top {
    border-top: 1px solid;
    padding-top: 0;
    margin-top: 23px !important;
    padding: 0 0 15px 0;
}

/*  ----------------------------------------------------    /Forms */


/* PAGE identity...register */
header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: #fff;
}

.identity-form {
    max-width: 500px;
    overflow: unset;
    
}

main {
    overflow: unset;
    padding: 0 0 40px 0;
}
.vdd-viewport {
    overflow: unset;
    position: relative;
}
.dx-box-item-content {
    font-size: 16px;
}
.scrollable-control { overflow: unset;}
.dx-field-item-help-text, .dx-field-item-label-text {
    color: #333;
    font-family: "BootsSharp";
    font-family: 'Montserrat', sans-serif;
}

.dx-field-item-help-text {
    color: #888888;
    font-size: 13px;
    padding: 6px 0 0 0;
}


/* PAGE CHECKOUT*/
.identity-form.scrollable-control {
    display: flex;
    flex-direction: column;
}
.identity-form.scrollable-control
.d-flex.align-items-center.mt-3 {
    align-self: flex-end;
    margin-top: -36px !important;
    order: 10;
}
.d-flex.align-items-center.mt-3 + .mt-5,
#card-errors + .mt-5 {
    align-self: flex-start;
}



/* PAGE PURCHASE A TEST*/
#shop-item-price {
    font-weight: bold;
}
#shop-item-price .text-nowrap {
    white-space: nowrap !important;
    font-size: 23px;
}

/* PAGE THANK YOU! */

.dx-font-l.text-monospace.dx-user-select {
    background: #efefef;
    color: #ff0000;
    font-weight: 300;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif !important;
    border-radius: 50px;
    width: auto;
    display: inline;
    padding: 0 6px;
}

/* PAGE FAMILY / GROUP */

.spa-body.identity-form.d-flex.flex-column > .flex-shrink-0.d-flex.flex-row.align-items-center {
    /* display: flex; */
    /* column-gap: 6px; */
    border-bottom: 1px solid #ababab;
    margin: 20px 0;
    padding: 0 0 20px;
}










@media (max-width: 500px) {

    .d-flex.flex-row.mt-2.vdd-hide-invalid-badge > div {min-width: 30%;}

    .d-flex.flex-row.align-items-center {
        flex-direction: column !important;
        gap: 5px;
        align-items: stretch !important;
        align-content: stretch;
    }
    .d-flex.flex-row.align-items-center > div {
        width: 100% !important;
    }
    .text-pre-line {
        align-self: flex-end;
        width: 90%;
        margin: -28px 0 0;
    }

}







