/* @import url('https://u746136.com4.ru/css/css.css'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap'); */





/* @font-face {
    font-family: 'icomoon-boots';
    src:  url('https://d1azc1qln24ryf.cloudfront.net/82534/Boots/icomoon-boots.eot?j360k6');
    src:  url('https://d1azc1qln24ryf.cloudfront.net/82534/Boots/icomoon-boots.eot?j360k6#iefix') format('embedded-opentype'),
      url('https://d1azc1qln24ryf.cloudfront.net/82534/Boots/icomoon-boots.woff2?j360k6') format('woff2'),
      url('https://d1azc1qln24ryf.cloudfront.net/82534/Boots/icomoon-boots.ttf?j360k6') format('truetype'),
      url('https://d1azc1qln24ryf.cloudfront.net/82534/Boots/icomoon-boots.woff?j360k6') format('woff'),
      url('https://d1azc1qln24ryf.cloudfront.net/82534/Boots/icomoon-boots.svg?j360k6#icomoon-boots') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  } */

  /* @font-face {
    font-family: BootsSharp;
    src: url(fonts/BootsSharp-Light.eot);
    src: url(fonts/BootsSharp-Light.eot?#iefix) format('embedded-opentype'),url(fonts/BootsSharp-Light.woff2) format('woff2'),url(fonts/BootsSharp-Light.woff) format('woff'),url(fonts/BootsSharp-Light.ttf) format('truetype'),url(fonts/BootsSharp-Light.svg#Boots+Sharp+Light) format('svg');
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: BootsSharp;
    src: url(fonts/BootsSharp-Regular.eot);
    src: url(fonts/BootsSharp-Regular.eot?#iefix) format('embedded-opentype'),url(fonts/BootsSharp-Regular.woff2) format('woff2'),url(fonts/BootsSharp-Regular.woff) format('woff'),url(fonts/BootsSharp-Regular.ttf) format('truetype'),url(fonts/BootsSharp-Regular.svg#Boots+Sharp+Regular) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: BootsSharp;
    src: url(fonts/BootsSharp-Bold.eot);
    src: url(fonts/BootsSharp-Bold.eot?#iefix) format('embedded-opentype'),url(fonts/BootsSharp-Bold.woff2) format('woff2'),url(fonts/BootsSharp-Bold.woff) format('woff'),url(fonts/BootsSharp-Bold.ttf) format('truetype'),url(fonts/BootsSharp-Bold.svg#Boots+Sharp+Bold) format('svg');
    font-weight: 600;
    font-style: normal
} */





@font-face {
    font-family: 'BootsSharp';
    src: url(https://assets.v7-io.invisionapp.com/assets/A_MGFjZjlkZDY2YjhlM2JmOXUFu7rJUhXr58Gi-PXDV0gapEk0bDfG8bUYVfgbh8zqDYOVNrE4_xJIUK1HqqTWqAEzdfUXWDsUZ3PHE0wX_fX1TlDQDE4NWltYMiCtDkUuRcvTEAxSn0iQgdO1-3-ETA==);
    font-weight: bold;
    font-style: normal;
   }
   
   @font-face {
    font-family: 'BootsSharp';
    src: url(https://assets.v7-io.invisionapp.com/assets/A_MGFjZjlkZDY2YjhlM2JmOcZT8yiXx1cQY5yenF6__4dPC1qRpACN0dGTMysnCW1lZ-nfLv84Sqz8khqzfgJVZ9bqsvjSUI7HbvFeGQDfeuTvMAHjOLpRY1AhFK3P1apSB2Nf5UBXv9vbUcq0lURLTg==);
    font-weight: 300;
    font-style: normal;
   }
   
   @font-face {
    font-family: 'BootsSharp';
    src: url(https://assets.v7-io.invisionapp.com/assets/A_MGFjZjlkZDY2YjhlM2JmOfrcYnDJV4myRjx1GDTxexx7MKhJa_RGZqXrMjUprdrDe5kZgQXGc-t5bq2zgWTGbCohs9u_25S5LEuhSrgtpR69_l8it5EwF-8xQmEteU3OsT7bowsyQDzeLnWQ4bvIpw==);
    font-weight: 400;
    font-style: normal;
   }










/* test 000 */

/* RESET */

.ml-3, .mx-3 { margin-left: 0 !important; }
.mt-1, .my-1 { margin-top: 0 !important; }
.pt-2, .py-2 {  padding-top: 0 !important; }
.mt-4, .my-4 {/* margin-top: 0 !important; */}

/* /RESET */









/* --------------------------------------------------------   Main elements */
html {
    user-select: auto;
    -webkit-user-select: auto;
}

body {font-family: 'BootsSharp' , sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
    font-size: 16px;color: #05054B;position: relative;
}

.vdd-viewport-width-narrow main .vdd-container {
    position: relative;
    max-width: 540px !important;
    margin: 0 auto;
    padding: 1em !important;
    overflow: unset;
}
.spa-body {
    width: 100% !important;
    overflow: unset;
}

.dx-theme-generic-typography {
    /* background-color: #fff; */
    color: #05054B;
    /* font-weight: 400; */
    font-size: 18px;
    font-family: 'BootsSharp' , sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    /* line-height: 1.6; */
    line-height: 27px;
    background: #F2F2F2;
    font-weight: 300;
}

.mt-4.d-flex.flex-row.align-items-stretch {}

form.mt-3 {
    margin-top: 3rem !important;
    /* padding: 20px; */
    border-top: 1px solid #d0d0d0;
}
.line-top {
    border-top: 0px solid;
    padding-top: 0;
    margin-top: 23px;
    padding: 0 0 15px 0;
}
.dx-theme-border-color {
    border-color: #d0d0d0 !important;
}
.text-nowrap {
    font-weight: bold;
}
.dx-widget {
    color: #05054B;
    font-weight: 400;
    font-size: 18px;
    /* font-weight: 500; */
    font-family: 'BootsSharp' , sans-serif;
}

.dx-toolbar .dx-toolbar-items-container {
    height: 50px;
}

.dx-pager.dx-light-mode .dx-page-sizes {
    /* min-width: 40%; */
}

.dx-radiogroup-horizontal {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    /* background: #f2f2f2; */
    padding: 15px;
}

.dx-dateview-item.dx-dateview-item-selected {
    color: #05054B;
}

.dx-radiogroup-vertical.dx-widget {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    /* background: #f2f2f2; */
    padding: 15px;
}

span.dx-field-item-label-content {
    background: #fff;
    padding: 2px 8px 2px 8px;
    line-height: 19px;
    border-radius: 30px;
    border-bottom: 1px solid #e3e3e3;
}

.dx-checkbox-normal .dx-field-item-label-content {
    border-bottom: 0;
}

.dx-field-button-item {
    /* text-align: center !important; */
}

div#formChangeEmail {}
#ttr-container  .text-italic {
    margin-top: 30px !important;
}
.dx-overlay-wrapper {
    top: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1000;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    line-height: 1.35715;
}
.dx-popup-wrapper > .dx-overlay-content {
    border: 1px solid #ddd;
    background: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    border-radius: 6px;
    max-width: 500px;
}
.dx-popup-bottom.dx-toolbar .dx-toolbar-after {
    column-gap: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}
div > strong {
    font-weight: bolder;
    /* margin: 10px 0 0px 0; */
    padding: 5px 0 0 0;
    display: inline-block;
    /* border-top: 5px solid #e6e6e6; */
}
/* --------------------------------------------------------   /Main elements */
/* Headers */
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 !important;
}
.dx-theme-generic-typography .dx-font-s, .dx-theme-generic-typography h4,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BootsSharp' , sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 26px; color: #05054B;
    padding: 15px 0 10px 0;
}

h1 {font-size: 36px;}
h2 {font-size: 36px;}
h3 {font-size: 24px;}
h4 {font-size: 22px;}
h5 {font-size: 18px;}
h1 {font-size: 36px;}

.dx-theme-generic-typography h5 + .ml-3  {margin-left: 0 !important;}



p {font-size: 18px;color: #05054B;}


/* links */
.dx-theme-generic-typography a,
a {
    color:#0092cc;
    color: #0067B2;
    font-size: 18px;
    /* text-decoration: underline; */
    line-height: 27px;
    font-family: 'BootsSharp' , sans-serif;
    font-weight: 300;
}


/* Buttons */


/* Button Primary */
.dx-button-mode-contained.dx-button-success,
.dx-button-mode-contained.dx-button-default {
    background-color: #0092CC;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 23px;
    background: #0067B2;
    border-radius: 5px;
    border: 1px solid #0067B2;
    padding: 8px 0px 3px 0px;
    color: #FFF;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* letter-spacing: .23em; */
    transition: background .4s,color .4s,border .4s;
}

/* Button Secondary */

div.dx-button-mode-contained,
a.dx-button-mode-contained {
    /* background-color: #fff; */
    border-color: #0067B2;
    /* color: #0067B2; */
    /* text-transform: uppercase; */
    /* .. */
    background-color: #0067B2;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    /* min-width: 60px; */
    font-size: 16px;
    padding: 8px 0px 4px 0px;
    font-family: 'BootsSharp' , sans-serif;
    transition: background .4s,color .4s,border .4s;
}
.dx-button-mode-contained .dx-icon {
    color: #fff;
}



div.dx-button-mode-contained,
a.dx-button-mode-contained:hover {
    background-color: #0067B2;
    border-color: #0067B2;
}

.dx-button-mode-contained.dx-state-hover {
    background-color: #05054B !important;
    border-color: #05054B;
}

.dx-button-mode-contained.dx-button-success.dx-state-hover {
    background-color: #05054B;
    border-color: transparent;
  }
  .dx-button-mode-contained.dx-button-success.dx-state-focused {
    background-color: #05054B;
    border-color: transparent;
  }
  .dx-button-mode-contained.dx-button-success.dx-state-active {
    background-color: #05054B;
    border-color: transparent;
    color: #fff;
  }

  .dx-button-mode-contained.dx-dropdowneditor-button {min-width: auto;}





/* Header */
a.silent-link {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    /* overflow: hidden; */
    /* border: 2px solid #ffffff; */
    /* border-radius: 50px; */
    width: 120px;
    height: 50px;
    /* box-shadow: 0 0 3px 0px black; */
}

a.silent-link img {
    height: 100%;
}
.vdd-viewport-width-narrow header nav .vdd-container {
    /* position: relative; */
    max-width: 764px !important;
    /* margin: 0px auto; */
    /* padding: 1em; */
    /* overflow: unset; */
}
div#mainMenu {
    background: transparent;
}
header > nav {
    padding: 10px 0;
    border-bottom: 1px solid;
    overflow: hidden;
    background: rgb(255 255 255);
    z-index: 10;
    position: sticky;
    top: 0;
    /* position: relative; */
}

header > nav + nav {
    padding: 0;
    z-index: 8;
}
header.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(189 189 189 / 24%);
}
.dx-dropdownmenu.dx-dropdownmenu-button.dx-button.dx-button-normal.dx-widget.dx-button-has-icon.dx-button-mode-text {
    /* background: rgb(226 226 226 / 58%); */
    color: #fff;
    /* border-radius: 50px; */
    margin: -10px 0 0;
    padding: 11px;
}

.dx-toolbar .dx-toolbar-label {
    font-size: 22px !important;
    text-transform: initial;
    /* font-weight: 600; */
    max-width: 100% !important;
}
.dx-toolbar-menu-section .dx-toolbar-menu-custom .dx-item-content a {
    display: block !important;
    text-align: left;
    text-decoration: none;
}

/* PAGE TEST COVID-19 */

/* h1 */
.identity-form .mb-4 p:first-child strong {font-size: 36px;}


/* hx */
.identity-form .mb-4 p:nth-child(3) strong,
.identity-form .mb-4 p:nth-child(6) strong {font-size: 26px;}




.ElementsApp input {
    background-color: transparent;
    border: none;
    display: block;
    /* font-family: 'Montserrat', sans-serif; */
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    line-height: 3.2em;
    height: 1.2em;
}
.d-flex.flex-row.mt-2.vdd-hide-invalid-badge {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
/*  ----------------------------------------------------    Forms */
.dx-field-item-required-mark {
    color: #ff0600;
    font-size: 18px;
}


.dx-texteditor.dx-editor-outlined  {
    background: #F2F2F2;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    height: 50px;
    min-width: 200px;
}

.dx-page-sizes .dx-show-invalid-badge.dx-selectbox.dx-textbox.dx-texteditor.dx-dropdowneditor-button-visible.dx-editor-outlined.dx-widget.dx-dropdowneditor.dx-dropdowneditor-field-clickable {
    width: 62px;
    min-width: 100px;
    max-width: 40%;
}

.dx-numberbox.dx-widget {
    width: 60px !important;
    /* text-align: center; */
}

.vdd-uploader-container .vdd-uploader-drop-area {
    height: 100px;
    background: #f2f2f2;
    border-radius: 5px;
    /* margin: 44px 0 0 0; */
    border: 4px dashed #000;
}

#card-number, #card-date, #card-code, #card-postal
 {
    background: #F2F2F2;
    border: 1px solid #00a4e6;
    /* border-radius: 100px; */
    height: 41px;
    padding: 12px 12px 12px !important;
}
 #card-postal
 {
    
    padding: 0 !important;
}
#card-postal .dx-texteditor-input {

    font-size: 16px;
}



.dx-radiobutton-icon::before {
    border: 1px solid #0067B2;
    background-color: #fff;
    content: "";
}
.dx-checkbox-icon {
    border: 1px solid #0067b2;
    /* background: #0067B2; */
    border-radius: 3px;
}

.dx-checkbox-checked .dx-checkbox-icon {
    font: 16px/16px DXIcons;
    color: #ffffff;
    text-align: center;
    background: #0067B2;
}
.dx-device-phone .identity-form {
    /* margin: 20px auto; */
    max-width: 450px;
    padding: 15px;
    /* box-shadow: 0px 0px 20px 0px #dadada; */
    border-radius: 20px;
}
.dx-invalid.dx-texteditor {
    border-color: #f00;
}
.dx-invalid-message > .dx-overlay-content {
    color: #D8221F;
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #f00;
    left: 0 !important;
    right: 0;
    top: 7px !important;
    font-size: 14px;
    padding: 2px 0 3px 3px;
    /* text-align: center; */
    /* margin: 0 15px 0 15px !important; */
    transform: translate(0px, 43px) !important;
    border: unset;
    color: #D8221F;
    /* line-height: 20px; */
    font-family: 'BootsSharp' , sans-serif;
    font-weight: 100;
}
.dx-checkbox-container + .dx-invalid-message > .dx-overlay-content { min-width: 100px;}
.dx-checkbox-container + .dx-invalid-message  .dx-invalid-message-content { right: auto;}


.dx-placeholder {
    position: absolute;
    top: 0;
    left: 12px;
    max-width: 100%;
    width: auto;
    height: 100%;
    text-align: left;
    cursor: text;
    pointer-events: none;
    color: #999;
}
.dx-invalid .dx-checkbox-container .dx-checkbox-icon {
    border: 1px solid #f00;
}

.dx-texteditor-input {
    margin: 0;
    padding: 12px 16px 11px;
    /* background: hsl(0deg 100% 47%); */
    color: #000;
    font-size: 18px;
    border-radius: 100px;
    min-height: 32px;
    font-family: 'BootsSharp' , sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 400;
}

.dx-widget input, .dx-widget textarea {
    font-family: 'BootsSharp' , sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    line-height: 1.35715;
}

.dx-field-item-label-location-top {
    display: block;
    padding: 12px 0 0px 11px;
    margin-bottom: -7px;
    font-size: 8px;
    /* border-radius: 10px; */
    position: relative;
    z-index: 1;
}
.dx-dropdowneditor.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-state-hover:not(.dx-custom-button-hovered) .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
  border-radius:0 50px 50px 0;
  /* color: #fff; */
}
.dx-dropdowneditor-button.dx-state-active .dx-dropdowneditor-icon,
.dx-dropdowneditor.dx-dropdowneditor-active .dx-dropdowneditor-icon {
  background-color: transparent;
  border-color: transparent;
  /* color: #fff; */
  opacity: 1;
  border-radius:0 50px 50px 0;
}
.dx-dropdowneditor-icon {
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    color: #02709c;
    font: 18px/18px DXIcons;
    width: 32px;
    height: 100%;
    text-align: center;
    border-radius: 3px;
}
.dx-dropdowneditor-icon::before {
    content: "";
    position: absolute;
    display: block;
    width: 18px;
    top: 50%;
    margin-top: -7px;
    left: 69%;
    margin-left: -12px;
    font-size: 27px;
    content: "\e934";
    font-family: icomoon-boots;
    font-size: 18px;
    color: #05054B;
    /* right: 10px; */
    /* top: 9px; */
    /* padding: 0 0 2px; */
    /* position: absolute; */
    /* pointer-events: none; */
}
.dx-dropdownlist-popup-wrapper .dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item-content {
    padding: 7px 9px;
    font-size: 16px;
}


.dx-list:not(.dx-list-select-decorator-enabled) .dx-list-item.dx-state-hover {
    background-color: rgb(199 238 255);
    color: #333;
  }


  form#form {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

form#form + .line-top {
    border-top: 0px solid;
    padding-top: 0;
    margin-top: 23px !important;
    padding: 0 0 15px 0;
}

/*  ----------------------------------------------------    /Forms */


/* PAGE identity...register */
header {
    /* position: sticky; */
    /* top: 0; */
    z-index: 10;
    /* background: #fff; */
    /* padding: 0 0 40px 0; */
    min-height: 60px;
}

.identity-form {
    max-width: 500px;
    overflow: unset;
    
}

main {
    overflow: unset;
    padding: 0 0 40px 0;
    margin: -3px auto 75px auto !important;
    padding: 50px 0 !important;
    border: 1px solid #D0D0D0;
    border-radius: 5px;
    background: #FFF;
    width: 100%;
    max-width: 750px;
}
.vdd-viewport {
    overflow: unset;
    position: relative;
    /* max-width: 750px; */
    margin: 0 auto;
}
.dx-box-item-content {
    /* font-size: 16px; */
}
.scrollable-control { overflow: unset;}
.dx-field-item-help-text, .dx-field-item-label-text {
    color: #05054b;
    font-family: 'BootsSharp' , sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 300;
    font-size: 14px;
}

.dx-checkbox-normal .dx-field-item-label-text {
    color: #05054B;
    font-weight: 400;
    font-size: 18px;
    /* font-weight: 500; */
    font-family: 'BootsSharp' , sans-serif;
}

.dx-field-item-help-text {
    color: #7e7e7e;
    font-size: 14px;
    padding: 4px 0 0 0;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .4px;
    line-height: 18px;
}


/* PAGE CHECKOUT*/
.identity-form.scrollable-control {
    display: flex;
    flex-direction: column;
}
.identity-form.scrollable-control
.d-flex.align-items-center.mt-3 {
    align-self: flex-end;
    margin-top: -36px !important;
    order: 10;
}
.d-flex.align-items-center.mt-3 + .mt-5,
#card-errors + .mt-5 {
    align-self: flex-start;
}



/* PAGE PURCHASE A TEST*/
#shop-item-price {
    font-weight: bold;
}
#shop-item-price .text-nowrap {
    white-space: nowrap !important;
    font-size: 23px;
}

/* PAGE THANK YOU! */

.dx-font-l.text-monospace.dx-user-select {
    background: #efefef;
    color: #ff0000;
    font-weight: 300;
    font-size: 30px;
    /* font-family: 'Montserrat', sans-serif !important; */
    border-radius: 5px;
    width: auto;
    /* display: inline; */
    padding: 30px 6px;
    margin: 40px 0 !important;
}

/* PAGE FAMILY / GROUP */

.spa-body.identity-form.d-flex.flex-column > .flex-shrink-0.d-flex.flex-row.align-items-center {
    /* display: flex; */
    /* column-gap: 6px; */
    border-bottom: 1px solid #ababab;
    margin: 20px 0;
    padding: 0 0 20px;
}



.dx-theme-generic-typography .dx-font-m {
    /* font-weight: 400; */
    /* font-size: 20px; */
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #05054B;
    margin-bottom: 7px !important;
    margin-top: 12px !important;
    /* letter-spacing: .1em; */
    font-weight: 500;
}

nav .dx-font-m.text-center {
    margin-bottom: 17px;
    margin-top: 0;
}

nav.vdd-sub-title .dx-theme-generic-typography .dx-font-m {
    margin-bottom: 0px;
    margin-top: 0;
    padding: 0;
}

div#formProfile-caption {
    /* padding-bottom: 24px; */
    padding-top: 0;
    /* margin-bottom: 40px !important; */
    margin-top: 0 !important;
}






@media (max-width: 500px) {

    .d-flex.flex-row.mt-2.vdd-hide-invalid-badge > div {min-width: 30%;}

    .d-flex.flex-row.align-items-center {
        flex-direction: column !important;
        flex-wrap: wrap;
        gap: 5px;
        align-items: stretch !important;
        align-content: stretch;
    }
    .d-flex.flex-row.align-items-center > div {
        width: 100% !important;
    }
    .text-pre-line {
        align-self: flex-end;
        width: 90%;
        margin: -28px 0 0;
    }
    main {
        /* overflow: unset; */
        /* padding: 0 0 40px 0; */
        margin: 0 auto 75px auto !important;
        padding: 0px 0 50px 0 !important;
        border: 0 solid #f2f2f2;
        /* border-radius: 5px; */
        /* background: #FFF; */
        /* width: 100%; */
        /* max-width: 750px; */
    }
    .dx-field-button-item {
        text-align: center !important;
    }
}







